# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Diretórios de ambientes virtuais
venv/
env/
ENV/

# Arquivos de configuração de IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos de teste e debug
*.out
*.err

# Arquivos específicos do simulador (se houver algum temporário)
*.tmp
